@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Cookie');

        

body {
  max-width: 980px;
  margin: auto;
  background: black;
  /* Цвет фона */
  color: white;
  /* Цвет текста */
}


header .header-logo {
  font-family: 'Cookie', cursive;
  font-size: 3rem;
  text-align: center;
  margin: 20px auto;
}

header .menu {
  padding: 0;
  display: flex;
  justify-content: center;
  

}

header .menu li {
  display: inline;
  margin: 0 2%;
}

header .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: 'Coming Soon', cursive;
}

header .menu li a:hover {
  text-decoration: underline;
}


header .main-pic {
  min-height: 400px;
  background-image: url(../img/MainPage/MainPic.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 400px) {
  .description-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .description-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .description-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.description-card {
   font-family: 'Coming Soon', cursive;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


.description-card img {
    display: block;
    width: 100%;
}




