@import url('https://fonts.googleapis.com/css?family=NTR|Rancho');

body {
  max-width: 980px;
  margin: auto;
  background: black;
  /* Цвет фона */
  color: white;
  /* Цвет текста */
}


header .header-logo {
  font-family: 'Rancho', cursive;
  font-size: 3rem;
  text-align: center;
  margin: 20px auto;
}
header .header-menu {
  text-align: center;
  margin: 20px auto;
}
header .menu {
  padding: 0;
  display: flex;
  justify-content: center;

}

header .menu li {
  display: inline;
  margin: 0 2%;
  
}

header .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: 'NTR', sans-serif;
}

header .menu li a:hover {
  text-decoration: underline;
}


@media (min-width: 400px) {
  .menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .menu-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.menu-card {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.menu-card img {
    display: block;
    width: 100%;
}
